PORT=4000
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MOMO_PARTNER_CODE=
MOMO_SECRET_KEY=
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
ANTHROPIC_API_KEY=
CLIENT_URL=http://localhost:3000